<body style="background-color:#FAF5FF;">
<div class="main_page">
    <p style="color: red; font-size: 350%;"><b>Recursive Numbers Partitioning</b> </p>
      <div class="content-section">
        <form method="POST" action="" style="font-size: 200%;">
            {{ form.hidden_tag() }}
            <p style="color: #007A74; width: 10%;">{{ form.numbers.label }}: {{ form.numbers(size=30) }}</p>
            <p style="color: #007A74; width: 15%;">{{ form.k.label }}: {{ form.k(size=30) }}</p>
            <p style="background-color: orange; width: 4.8%; height: 3%"> {{ form.submit() }}</p>
        </form>
    </div>
    <a href="#">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </a>
</div>
</body>